# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.MyGame-2-.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Сергей\Desktop\MyGame-2-\.idea\.idea.MyGame-2-\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
